.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  @include respond(big) {
    display: flex;
    margin: 0;
  }

  &__item {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
        background-color 0.1s;
    }

    &:active::before {
      background-color: var(--color-primary-light);
    }

    &:hover::before,
    &--active::before {
      transform: scaleY(1);
      width: 100%;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;

      @include respond(big) {
        margin: 0;
      }
    }

    @include respond(big) {
      flex: 1;
    }
  }

  &__link:link,
  &__link:visited {
    color: var(--color-gray-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    z-index: 10;
    position: relative;

    display: flex;
    align-items: center;

    @include respond(big) {
      justify-content: center;
      padding: 2rem;
    }

    @include respond(little) {
      flex-direction: column;
      padding: 1.5rem 0.5rem;
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;

    @include respond(little) {
      margin-right: 0;
      margin-bottom: 0.7rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.legal {
  font-size: 1.2rem;
  color: var(--color-gray-light-4);
  text-align: center;
  padding: 2.5rem;

  @include respond(big) {
    display: none;
  }
}
